.wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 5fr 1fr 1fr;
    gap: 1px 1px;
    grid-template-areas: "im im im" "r r r" "in in r";
    width: 400px;
    height:320px;
}

.card {
    width: 400px;
    height:320px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 5fr 1fr 1fr;
    gap: 1px 1px;
    grid-template-areas: ". . ." "name name name" ". . .";
}

.img{
    height: auto;
    width: auto;
    grid-area: 'im';
}

.restoranName{
    grid-area: name;
}

.info{
    grid-area: in;
}

.rating{
    grid-area: r;
}